tarefa06/quiz.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="quiz">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="pergunta" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="enunciado" type="xs:string"/>
              
              <xs:element name="alternativa" minOccurs="4" maxOccurs="4">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="correta" use="required">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:enumeration value="sim"/>
                            <xs:enumeration value="nao"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>